.showcase-card {
  max-width: 400px;
  min-width: 200px;
  background: rgb(255, 255, 255);
}

.header-image {
  background-image: url('../../assets/logo.png');
  background-size: cover;
}

.title{
  color: #0055aa;
}

.preview-image {
  height: 300px;
  border: 1px solid rgb(73, 72, 72);
}

