<mat-card class="showcase-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ showcaseitem.name }}</mat-card-title>
    <mat-card-subtitle>A test showcase item</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../assets/logo.png" F alt="Preview" />
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onLike()">
      {{ showcaseitem.liked ? "LIKE" : "UNLIKE" }}
    </button>
    <button mat-button color="accent" (click)="onHide()">HIDE</button>
  </mat-card-actions>
</mat-card>
