.showcase-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url('https://images.unsplash.com/photo-1602529898233-741e0215321e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"');
    background-size: cover;
}