.detail-container {
  padding: 50px;
}

.detail-card {
  max-width: 100%;
  min-width: 90%;
  background: rgb(255, 255, 255);
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2),0 10px 10px 0 rgba(0, 0, 0, 0.14), 0 10px 10px 0 rgba(0, 0, 0, 0.12) !important;
  transform: translate3d(0, 0, 0);
  transition: background 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-image {
  background-image: url("../../assets/logo.png");
  background-size: cover;
}

.title {
  color: #0055aa;
}

.preview-image {
  height: 300px;
  border: 1px solid rgb(73, 72, 72);
}

.footer{
  padding: 10px;
}

.description-container{
  padding: 10px 0px;
  margin-bottom: 10px;

}

.description-container a{
  margin-right: 5px;
}
