<div class="detail-container">
  <mat-card class="detail-card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="title">{{ showcaseitem.Name }}</mat-card-title>
      <mat-card-subtitle>
        <p>{{ showcaseitem.SubTitle }}</p>
        <technology-tag-display [Tags]="showcaseitem.Tags"></technology-tag-display>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="description-container">
        <a mat-raised-button color="primary" href="{{ showcaseitem.DemoUrl }}">Live Demo</a>
        <a mat-raised-button class="last-child" color="primary" href="{{ showcaseitem.ProjectUrl }}">Source</a>
        <a mat-raised-button color="warn" routerLink="/all">Back</a>
      </div>

      <div class="markdown-container">
        <markdown
          [src]="showcaseitem.Readme"
          
        >
        </markdown>
      </div>
    </mat-card-content>
    
  </mat-card>
</div>
