.main-banner {
  background-color: white;
  padding: 50px;
  width: 100%;
}

.bottom-banner {
  background-color: white;
  padding: 50px;
  width: 100%;
}

.logo-container {
  padding: 20px;
}

.logo-container img {
  float: left;
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 100px;
  background: url(../assets/logo.svg);
  background-size: 100px 100px;
}

.logo-container h1 {
  position: relative;
  top: 25px;
  left: 10px;
  font-size: 40pt;
  color: rgb(42, 42, 42);
}
